In [4]:
# installations 
import sys
!{sys.executable} -m pip install seaborn
!{sys.executable} -m pip install rsatoolbox

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: matplotlib>=2.2 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from seaborn) (3.4.2)
Requirement already satisfied: pandas>=0.23 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from seaborn) (1.3.1)
Requirement already satisfied: scipy>=1.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: numpy>=1.15 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from seaborn) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.1
Collecting rsatoolbox
  Downloading rsatoolbox-0.0.2-py3-none-any.whl (124 kB)
Requirement already satisfied: scipy in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (1.7.1)
Requirement already satisfied: scikit-learn in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (0.24.2)
Requirement already satisfied: matplotlib in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (3.4.2)
Requirement already satisfied: joblib in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (1.0.1)
Requirement already satisfied: tqdm in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (4.62.0)
Requirement already satisfied: numpy in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (1.21.1)
Collecting coverage
  Downloading coverage-5.5-cp39-cp39-win_amd64.whl (211 kB)
Requirement already satisfied: scikit-image in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (0.18.2)
Requirement already satisfied: h5py in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (3.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (8.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (0.10.0)
Requirement already satisfied: six in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from cycler>=0.10->matplotlib->rsatoolbox) (1.16.0)
Requirement already satisfied: networkx>=2.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-image->rsatoolbox) (2.5)
Requirement already satisfied: imageio>=2.3.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-image->rsatoolbox) (2.9.0)
Requirement already satisfied: tifffile>=2019.7.26 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-image->rsatoolbox) (2021.8.8)
Requirement already satisfied: PyWavelets>=1.1.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-image->rsatoolbox) (1.1.1)
Requirement already satisfied: decorator>=4.3.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from networkx>=2.0->scikit-image->rsatoolbox) (5.0.9)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-learn->rsatoolbox) (2.2.0)
Requirement already satisfied: colorama in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from tqdm->rsatoolbox) (0.4.4)
Installing collected packages: coverage, rsatoolbox
Successfully installed coverage-5.5 rsatoolbox-0.0.2

In [5]:
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.offsetbox import OffsetImage, AnnotationBbox
import pathlib
import pandas as pd
import numpy as np
import seaborn as sns
import scipy
import scipy.io 
from scipy.io import loadmat
from scipy.spatial.distance import pdist, squareform
import json
from PIL import Image
import mne
import rsatoolbox as rsa
import rsatoolbox.data as data
import rsatoolbox.rdm as rdm
import rsatoolbox.vis as vis
import rsatoolbox.io as io
from rsatoolbox.io import meadows
from rsatoolbox.vis import rdm_plot
from rsatoolbox.rdm import rdms

In [6]:
matplotlib.use('Qt5Agg') # use Qt5Agg backend = best choice for MNE-Python's interactive plotting functions

In [7]:
help(rsa)

Help on package rsatoolbox:

NAME
    rsatoolbox - Top level package: Only imports and organisation

PACKAGE CONTENTS
    data (package)
    inference (package)
    io (package)
    model (package)
    rdm (package)
    simulation (package)
    util (package)
    vis (package)

FILE
    c:\users\tks086\anaconda3\envs\mne\lib\site-packages\rsatoolbox\__init__.py

In [ ]:
# subject 1 - sessions 1 to 10

In [73]:
filepath = r"C:\Users\TKS086\data\participants.tsv"
df_particpants = pd.read_csv(filepath, sep="\t") 
a = df_particpants.values
df_particpants

  participant_id  head_circumference
0         pilot0                 NaN
1         pilot1                 NaN
2         pilot2                 NaN
3         pilot3                59.0
4             01                 NaN
5             02                 NaN
6             03                 NaN
7             04                 NaN
8             05                 NaN

In [11]:
data = pd.read_json('/Users/TKS086/data/dataset_description.json', lines=True, chunksize = 100)
data

In [56]:
# specify file location 
filepath = r"C:\Users\TKS086\data\sub-01_ses-05_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

                                      filename             acq_time
0  eeg/sub-01_ses-05_task-nback_run-01_eeg.bdf  2019-09-12T16:44:23

In [57]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-06_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values

In [58]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-07_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values

In [59]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-08_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values

In [60]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-09_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values

In [61]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-10_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values

In [88]:
filepath = r"C:\Users\TKS086\data\nback.tsv"
df_nback = pd.read_csv(filepath, sep="\t") 
a = df_nback.values
df_nback = df_nback.drop(['run', 'session', 'datetime'], axis=1) # drop coloumns 
df_nback = df_nback.rename({'subject' : 'participant_id'}, axis = 1)
df_nback = pd.merge(df_nback, df_particpants)  # merge with participant info
df_nback

,participant_id,n_targets,hits,false_alarms,rt,keys,head_circumference
0,01,10,10,3,2.205460,num_add=13,NaN
1,01,10,9,2,2.060333,num_add=11,NaN
2,01,10,9,0,1.686978,num_add=9,NaN
3,01,10,6,2,1.767783,num_add=8,NaN
4,01,10,8,0,1.634375,"num_add=8, f6=1",NaN
...,...,...,...,...,...,...,...
262,pilot3,10,9,0,2.537833,num_add=9,59.0
263,pilot3,10,9,0,1.205478,num_add=9,59.0
264,pilot3,10,8,0,1.451775,num_add=8,59.0
265,pilot3,10,10,0,1.824880,num_add=10,59.0
266,pilot3,10,7,0,1.884557,num_add=7,59.0

In [63]:
df_nback.subject

0          01
1          01
2          01
3          01
4          01
        ...
262    pilot3
263    pilot3
264    pilot3
265    pilot3
266    pilot3
Name: subject, Length: 267, dtype: object

In [79]:
sub1df = df_nback.loc[df_nback['subject'] == '01'] #subject 1

In [65]:
sub2df = df_nback.loc[df_nback['subject'] == '02'] # subject 2

In [66]:
sub3df = df_nback.loc[df_nback['subject'] == '03'] # subject 3

In [67]:
sub4df = df_nback.loc[df_nback['subject'] == '04'] # subject 4

In [68]:
sub5df = df_nback.loc[df_nback['subject'] == '05'] # subject 5

In [ ]:
pil0df = df_nback.loc[df_nback['subject'] == 'pilot0'] # pilot study 0

In [69]:
pil1df = df_nback.loc[df_nback['subject'] == 'pilot1'] # pilot study 1

In [70]:
pil2df = df_nback.loc[df_nback['subject'] == 'pilot2'] # pilot study 2

In [71]:
pil3df = df_nback.loc[df_nback['subject'] == 'pilot3'] # pilot study 3