In [4]:
# installations 
import sys
!{sys.executable} -m pip install seaborn
!{sys.executable} -m pip install rsatoolbox

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: matplotlib>=2.2 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from seaborn) (3.4.2)
Requirement already satisfied: pandas>=0.23 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from seaborn) (1.3.1)
Requirement already satisfied: scipy>=1.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: numpy>=1.15 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from seaborn) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.1
Collecting rsatoolbox
  Downloading rsatoolbox-0.0.2-py3-none-any.whl (124 kB)
Requirement already satisfied: scipy in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (1.7.1)
Requirement already satisfied: scikit-learn in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (0.24.2)
Requirement already satisfied: matplotlib in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (3.4.2)
Requirement already satisfied: joblib in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (1.0.1)
Requirement already satisfied: tqdm in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (4.62.0)
Requirement already satisfied: numpy in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (1.21.1)
Collecting coverage
  Downloading coverage-5.5-cp39-cp39-win_amd64.whl (211 kB)
Requirement already satisfied: scikit-image in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (0.18.2)
Requirement already satisfied: h5py in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from rsatoolbox) (3.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (8.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from matplotlib->rsatoolbox) (0.10.0)
Requirement already satisfied: six in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from cycler>=0.10->matplotlib->rsatoolbox) (1.16.0)
Requirement already satisfied: networkx>=2.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-image->rsatoolbox) (2.5)
Requirement already satisfied: imageio>=2.3.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-image->rsatoolbox) (2.9.0)
Requirement already satisfied: tifffile>=2019.7.26 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-image->rsatoolbox) (2021.8.8)
Requirement already satisfied: PyWavelets>=1.1.1 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-image->rsatoolbox) (1.1.1)
Requirement already satisfied: decorator>=4.3.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from networkx>=2.0->scikit-image->rsatoolbox) (5.0.9)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from scikit-learn->rsatoolbox) (2.2.0)
Requirement already satisfied: colorama in c:\users\tks086\anaconda3\envs\mne\lib\site-packages (from tqdm->rsatoolbox) (0.4.4)
Installing collected packages: coverage, rsatoolbox
Successfully installed coverage-5.5 rsatoolbox-0.0.2

In [5]:
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.offsetbox import OffsetImage, AnnotationBbox
import pathlib
import pandas as pd
import numpy as np
import seaborn as sns
import scipy
import scipy.io 
from scipy.io import loadmat
from scipy.spatial.distance import pdist, squareform
import json
from PIL import Image
import mne
import rsatoolbox as rsa
import rsatoolbox.data as data
import rsatoolbox.rdm as rdm
import rsatoolbox.vis as vis
import rsatoolbox.io as io
from rsatoolbox.io import meadows
from rsatoolbox.vis import rdm_plot
from rsatoolbox.rdm import rdms

In [6]:
matplotlib.use('Qt5Agg') # use Qt5Agg backend = best choice for MNE-Python's interactive plotting functions

In [7]:
help(rsa)

Help on package rsatoolbox:

NAME
    rsatoolbox - Top level package: Only imports and organisation

PACKAGE CONTENTS
    data (package)
    inference (package)
    io (package)
    model (package)
    rdm (package)
    simulation (package)
    util (package)
    vis (package)

FILE
    c:\users\tks086\anaconda3\envs\mne\lib\site-packages\rsatoolbox\__init__.py

In [ ]:
# subject 1 - sessions 1 to 10

In [41]:
filepath = r"C:\Users\TKS086\data\participants.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

  participant_id  head_circumference
0         pilot0                 NaN
1         pilot1                 NaN
2         pilot2                 NaN
3         pilot3                59.0
4             01                 NaN
5             02                 NaN
6             03                 NaN
7             04                 NaN
8             05                 NaN

In [11]:
data = pd.read_json('/Users/TKS086/data/dataset_description.json', lines=True, chunksize = 100)
data

In [13]:
# specify file location 
filepath = r"C:\Users\TKS086\data\sub-01_ses-05_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

                                      filename             acq_time
0  eeg/sub-01_ses-05_task-nback_run-01_eeg.bdf  2019-09-12T16:44:23

In [14]:
a

array([['eeg/sub-01_ses-05_task-nback_run-01_eeg.bdf',
        '2019-09-12T16:44:23']], dtype=object)

In [15]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-06_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

                                      filename             acq_time
0  eeg/sub-01_ses-06_task-nback_run-01_eeg.bdf  2019-09-16T16:23:40

In [16]:
a

array([['eeg/sub-01_ses-06_task-nback_run-01_eeg.bdf',
        '2019-09-16T16:23:40']], dtype=object)

In [17]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-07_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

                                      filename             acq_time
0  eeg/sub-01_ses-07_task-nback_run-01_eeg.bdf  2019-09-17T16:54:45

In [18]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-08_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

                                      filename             acq_time
0  eeg/sub-01_ses-08_task-nback_run-01_eeg.bdf  2019-09-19T17:12:01

In [19]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-09_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

                                      filename             acq_time
0  eeg/sub-01_ses-09_task-nback_run-01_eeg.bdf  2019-09-20T12:24:22

In [20]:
filepath = r"C:\Users\TKS086\data\sub-01_ses-10_scans.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

                                      filename             acq_time
0  eeg/sub-01_ses-10_task-nback_run-01_eeg.bdf  2019-09-22T12:50:18

In [21]:
filepath = r"C:\Users\TKS086\data\nback.tsv"
df = pd.read_csv(filepath, sep="\t") 
a = df.values
df

,subject,session,run,datetime,n_targets,hits,false_alarms,rt,keys
0,01,5,1,2019-09-12 15:02:12.000000,10,10,3,2.205460,num_add=13
1,01,5,2,2019-09-12 15:22:15.000000,10,9,2,2.060333,num_add=11
2,01,5,3,2019-09-12 15:43:23.000000,10,9,0,1.686978,num_add=9
3,01,5,4,2019-09-12 16:10:02.000000,10,6,2,1.767783,num_add=8
4,01,5,5,2019-09-12 16:29:37.000000,10,8,0,1.634375,"num_add=8, f6=1"
...,...,...,...,...,...,...,...,...,...
262,pilot3,10,1,2019-08-13 14:55:19.000000,10,9,0,2.537833,num_add=9
263,pilot3,10,2,2019-08-13 15:11:05.000000,10,9,0,1.205478,num_add=9
264,pilot3,10,3,2019-08-13 15:29:33.000000,10,8,0,1.451775,num_add=8
265,pilot3,10,4,2019-08-13 15:47:48.000000,10,10,0,1.824880,num_add=10
266,pilot3,10,5,2019-08-13 16:06:44.000000,10,7,0,1.884557,num_add=7

In [25]:
df.subject

0          01
1          01
2          01
3          01
4          01
        ...
262    pilot3
263    pilot3
264    pilot3
265    pilot3
266    pilot3
Name: subject, Length: 267, dtype: object

In [55]:
# subject 1 
sub1df = df.loc[df['subject'] == '01']
sub1df.drop(['run', 'session', 'datetime'], axis=1)

   subject  n_targets  hits  false_alarms        rt             keys
0       01         10    10             3  2.205460       num_add=13
1       01         10     9             2  2.060333       num_add=11
2       01         10     9             0  1.686978        num_add=9
3       01         10     6             2  1.767783        num_add=8
4       01         10     8             0  1.634375  num_add=8, f6=1
5       01         10     8             1  1.246925        num_add=9
6       01         10     9             0  1.449856        num_add=9
7       01         10     6             1  1.801800        num_add=7
8       01         10    10             1  2.051560       num_add=11
9       01         10     6             0  1.851750        num_add=6
10      01         10     8             0  2.636087        num_add=8
11      01         10     8             1  2.356700        num_add=9
12      01         10     6             1  2.579950        num_add=7
13      01         10     7             0  2.544757        num_add=7
14      01         10     7             0  2.258929        num_add=7
15      01         10    10             1  2.039790       num_add=11
16      01         10     9             1  2.301611       num_add=10
17      01         10     8             0  2.392950        num_add=8
18      01         10     8             0  2.976275        num_add=8
19      01         10     7             0  2.349271        num_add=7
20      01         10     9             0  2.349378        num_add=9
21      01         10     8             1  2.418563        num_add=9
22      01         10     7             0  2.234643        num_add=7
23      01         10     7             0  2.424857        num_add=7
24      01         10     8             0  1.988575        num_add=8
25      01         10     9             0  2.257656        num_add=9
26      01         10    10             0  2.284980       num_add=10
27      01         10     8             0  1.993088        num_add=8
28      01         10     9             0  2.305456        num_add=9
29      01         10     5             0  2.595420        num_add=5

In [44]:
sub2df = df.loc[df['subject'] == '02'] # subject 2

In [45]:
sub3df = df.loc[df['subject'] == '03'] # subject 3

In [46]:
sub4df = df.loc[df['subject'] == '04'] # subject 4

In [47]:
sub5df = df.loc[df['subject'] == '05'] # subject 5

In [48]:
pil1df = df.loc[df['subject'] == 'pilot1'] # pilot study 1

In [49]:
pil2df = df.loc[df['subject'] == 'pilot2'] # pilot study 2

In [50]:
pil3df = df.loc[df['subject'] == 'pilot3'] # pilot study 3